<div class="title">
  <h2>{{maker}}, {{name}} {{year}}</h2>
</div>
<div class="image">
  <img src="{{img_url}}" />
</div>
<div class="info">
  <p>Name: {{name}}</p>
  <p>Year: {{year}}</p>
  <p>Maker: <a class="sublink" href="{{maker_url}}">{{maker}}</a></p>
</div>
<div class="tags">
  <h4>Tags</h4>
  {{#tag_arr}}
  <p><a href="/tags/{{.}}"> {{.}} </a></p>
  {{/tag_arr}}
</div>
<div class="body">
  <h4>Description</h4>
  <p class="description">{{description}}</p>
</div>
<!-- add reviews in code -->
<!-- twitter integration to be added -->
