<div class="form-group">
  <form method='POST' action='{{path}}'>
    <p class="form_text"><label>Name<input type="text" name="name"></label></p>
    <p class="form_text"><label>Region<input type="text" name="region"></label></p>
    <p class="form_text"><label>Website Url<input type="text" name="website_url"></label></p>
    <p class="form_text"><label>Image Url<input type="text" name="img_url"></label></p>
    <p class="form_field"><label>About<input type="text" name="about"></label></p>
    <button class="btn btn-primary">Submit</button>
  </form>
</div>
