<div class="edit">
  <form>
    <p class="form_text"><label>Name<input type="text" name="name" value="{{name}}"></label></p>
    <p class="form_text"><label>Maker<input type="text" name="region" value="{{region}}"></label></p>
    <p class="form_text"><label>Website Url<input type="text" name="website_url" value="{{website_url}}"></label></p>
    <p class="form_text"><label>Image Url<input type="text" name="img_url" value="{{img_url}}"></label></p>
    <p class="form_field"><label>About<input type="text" name="about" value="{{about}}"></label></p>
  </form>
</div>
