<div class="edit">
  <form method='POST' action='{{path}}'>
    <p class="form_text"><label>Maker<input type="text" name="maker" value="{{maker}}"></label></p>
    <p class="form_text"><label>Name<input type="text" name="name" value="{{name}}"></label></p>
    <p class="form_text"><label>Year<input type="text" maxlength="4" name="year" value="{{year}}"></label></p>
    <p class="form_text"><label>Image Url<input type="text" name="img_url" value="{{img_url}}"></label></p>
    <p class="form_field"><label>Description<input type="text" name="description" value="{{description}}"></label></p>
    <p class="form_tags"><label>Tags<input type="text" name="tags" value="{{tags}}"></label></p>
    <button>Submit</button>
  </form>
</div>
<div class="delete">
  <form method='POST' action='/delete'>
    <input type='hidden' name="type" value="wine" >
    <input type='hidden' name="id" value="{{w_id}}" >
    <button>Delete</button>
  </form>
</div>
