<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Brand</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
		<li><a href="#">Link</a></li>
		<li><a href="/wines"> wines </a></li>
		<li><a href="/makers"> makers </a></li>
		<li><a href="/tags"> tags </a></li>
    </ul>
  </div>
</div>