<div class='signupin'>
  <% if user_signed_in? %>
    <p>
      <%= link_to('Sign out', destroy_user_session_path, :method => :delete) %>
    </p>
  <% else %>
    <p>
      <%= link_to('Sign in', new_user_session_path)  %>
      or
      <%= link_to('Sign up', new_user_registration_path)  %>
    </p>
  <% end %>
</div>
