<main>
  <div class='row'>
    <div class='intro column one-half'>
      <center>
        <h1>Tastings.info</h1>
        <p>
          A wine review website.
        </p>
      </center>
    </div>
    <%= image_tag "tasty.jpg", class: 'splash-img column one-half u-pull-right' %>
  <div>
</main>
