<main>
  <div class='row'>
    <%= image_tag "tasty.jpg", class: 'splash-img column one-half' %>
  <div>
    <div class='row'>
      <div class='intro column one-half'>
        <center>
          <h1>Tastings.info</h1>
          <p>
            A wine review website.
          </p>
        </center>
      </div>
    <div>
</main>
