<main>
  <%= link_to('Search for Wines', { controller: "wines", action: "index"} )  %>
  <div class='row'>
    <% if @reviews %>
      <% @reviews.each do |review| %>
        <a href='reviews/<%= review.id %>' >
          <%= render 'application/review', review: review %>
        </a>
      <% end %>
    <% end %>
  </div>
</main>
